<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2>Employee List</h2>
      <button
        type="button"
        nz-button
        nzType="primary"
        (click)="toggleAddEmployeeDialoge()"
      >
        Add Employee
      </button>
    </div>

    <div class="card-body p-0">
      <nz-table
        #basicTable
        [nzData]="listOfData"
        [nzBordered]="false"
        [nzShowPagination]="false"
        class="table-styled"
      >
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="
              let data of basicTable.data;
              trackBy: trackByFn;
              let i = index
            "
          >
            <!-- @for (data of basicTable.data; track data) { -->
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ data.name || "N/A" }}</td>
              <td>{{ data.email || "N/A" }}</td>
              <td>{{ data.phone || "N/A" }}</td>
              <td>{{ data.address || "N/A" }}</td>
              <td>{{ data.city || "N/A" }}</td>
              <td>{{ data.state || "N/A" }}</td>
              <td>
                <div class="action-buttons">
                  <button
                    type="button"
                    nz-button
                    nzType="default"
                    (click)="editEmployee(data)"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    nz-button
                    nzType="primary"
                    nzDanger
                    (click)="deleteEmployee(data.id)"
                  >
                    Delete
                  </button>
                </div>
              </td>
            </tr>
            <!-- } -->
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
<div *ngIf="showAddEmplyeeDialoge" class="overlay-popup" ngSkipHydration>
  <app-add-employee
    [employee]="selectedEmployee"
    (close_popup)="toggleAddEmployeeDialoge()"
    (emplyeeData)="handleEmployee($event)"
  ></app-add-employee>
</div>
